.doc-main {
  .inner-main {
    .main-content {
      display: grid;
      grid-template-areas:
      "content feature";
      justify-content: center;
      height: calc(100vh - 430px);
      overflow: scroll;
      padding: 29px 0 43px;
      background-color: #F8F8F9;
    }
    .content-feature {
      grid-area: feature;
    }
  }
}